In [13]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("\n",df)
print("\n")
#to drop a number
print("\n",df.dropna())
print("\n")
#fill NaN with 0
print(df.fillna("0"),"\n")
#NaN with true fill
print(df['one'].isnull(),"\n")
#forward fill
print(df.fillna(method='ffill'),"\n")
#backward fill
print(df.fillna(method='bfill'),"\n")

         one       two     three
a -0.034053 -0.217340 -0.227520
b  0.516740  2.218451 -0.979133
c       NaN       NaN       NaN
d  0.724068 -1.281108  1.612520
e       NaN       NaN       NaN
f -0.019877 -0.900951  0.274432



         one       two     three
a -0.034053 -0.217340 -0.227520
b  0.516740  2.218451 -0.979133
d  0.724068 -1.281108  1.612520
f -0.019877 -0.900951  0.274432


        one       two     three
a -0.034053  -0.21734  -0.22752
b   0.51674  2.218451 -0.979133
c         0         0         0
d  0.724068 -1.281108   1.61252
e         0         0         0
f -0.019877 -0.900951  0.274432

a    False
b    False
c     True
d    False
e     True
f    False
Name: one, dtype: bool

        one       two     three
a -0.034053 -0.217340 -0.227520
b  0.516740  2.218451 -0.979133
c  0.516740  2.218451 -0.979133
d  0.724068 -1.281108  1.612520
e  0.724068 -1.281108  1.612520
f -0.019877 -0.900951  0.274432

        one       two     three
a -0.034053 -0.217340 -0.227520
b  0.516740  2.218451 -0.979133
c  0.724068 -1.281108  1.612520
d  0.724068 -1.281108  1.612520
e -0.019877 -0.900951  0.274432
f -0.019877 -0.900951  0.274432

In [2]:
import pandas as pd
a=pd.DataFrame({'one':[10,20,30,40,50],'two':[60,70,80,90,100]})
print("Original\n",a)
print(a.replace({10:5,50:90}))

Orginal
    one  two
0   10   60
1   20   70
2   30   80
3   40   90
4   50  100
   one  two
0    5   60
1   20   70
2   30   80
3   40   90
4   90  100