In [4]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/randoms - Sheet1.csv")
print(d)

    Si.No    First Name  Gender Login Time  Salary  Bonous Team(Department)  \
0     1.0        Kishor    Male    9:00 AM  30,000  5000.0                F
1     2.0       Kailash    Male   10:00 AM  29,500  4900.0                F
2     3.0       Mathosh  Female   11:00 AM   3,100   500.0                F
3     4.0     Kanishkar    Male   12:00 PM  29,000  5000.0                F
4     5.0  KavinChandar    Male    1:00 PM  32,000  5100.0                F
..    ...           ...     ...        ...     ...     ...              ...
95   96.0           NaN     NaN        NaN     NaN     NaN              NaN
96   97.0           NaN     NaN        NaN     NaN     NaN              NaN
97   98.0           NaN     NaN        NaN     NaN     NaN              NaN
98   99.0           NaN     NaN        NaN     NaN     NaN              NaN
99  100.0           NaN     NaN        NaN     NaN     NaN              NaN

   Log Out Time
0       3:00 PM
1       4:00 PM
2       5:00 PM
3       6:00 PM
4       7:00 PM
..          ...
95          NaN
96          NaN
97          NaN
98          NaN
99          NaN

[100 rows x 8 columns]

In [5]:
#particulars
df=pd.DataFrame(d)
print("Columns",df.columns)
print(df.shape)

Columns Index(['Si.No', 'First Name', 'Gender', 'Login Time', 'Salary', 'Bonous',
       'Team(Department)', 'Log Out Time'],
      dtype='object')
(100, 8)

In [6]:
#specific particularas
print("First Name",df["First Name"])

First Name 0           Kishor
1          Kailash
2          Mathosh
3        Kanishkar
4     KavinChandar
          ...
95             NaN
96             NaN
97             NaN
98             NaN
99             NaN
Name: First Name, Length: 100, dtype: object

In [7]:
#slicing
print(df[5:10])

   Si.No          First Name Gender Login Time  Salary  Bonous  \
5    6.0      KishoreKarthik   Male    2:00 PM  20,000  5000.0
6    7.0  Johan Makten Clave   Male    3:00 PM  30,000  5000.0
7    8.0            Hirendar   Male    4:00 PM  30,000  5000.0
8    9.0       Jeffin Joseph   Male    5:00 PM  30,000  5000.0
9   10.0               Fahim   Male    6:00 PM  30,000  5000.0

  Team(Department) Log Out Time
5                F      8:00 PM
6                F      9:00 PM
7                F     10:00 PM
8                F     11:00 PM
9                F     12:00 AM

In [8]:
#particular person
print("Hey ",df.loc[47])

Hey  Si.No                             47.0
First Name          Johan Makten Clave
Gender                            Male
Login Time                  1:00:00 AM
Salary                      36445.8853
Bonous                     6356.077135
Team(Department)                     F
Log Out Time                9:00:00 PM
Name: 47, dtype: object

In [10]:
#salary
print(d.loc[d['Salary']==25000])

Empty DataFrame
Columns: [Si.No, First Name, Gender, Login Time, Salary, Bonous, Team(Department), Log Out Time]
Index: []

In [17]:
import pandas as pd
d=pd.read_csv("randoms - Sheet1.csv")
print(d)

    Si.No    First Name  Gender Login Time  Salary  Bonous Team(Department)  \
0     1.0        Kishor    Male    9:00 AM  30,000  5000.0                F
1     2.0       Kailash    Male   10:00 AM  29,500  4900.0                F
2     3.0       Mathosh  Female   11:00 AM   3,100   500.0                F
3     4.0     Kanishkar    Male   12:00 PM  29,000  5000.0                F
4     5.0  KavinChandar    Male    1:00 PM  32,000  5100.0                F
..    ...           ...     ...        ...     ...     ...              ...
95   96.0           NaN     NaN        NaN     NaN     NaN              NaN
96   97.0           NaN     NaN        NaN     NaN     NaN              NaN
97   98.0           NaN     NaN        NaN     NaN     NaN              NaN
98   99.0           NaN     NaN        NaN     NaN     NaN              NaN
99  100.0           NaN     NaN        NaN     NaN     NaN              NaN

   Log Out Time
0       3:00 PM
1       4:00 PM
2       5:00 PM
3       6:00 PM
4       7:00 PM
..          ...
95          NaN
96          NaN
97          NaN
98          NaN
99          NaN

[100 rows x 8 columns]